#navbar {
    position: fixed;
    width: 100%;
    height: 65px;
    background-image: url("https://www.frommers.com/system/media_items/attachments/000/854/387/s980/from_top_of_the_rock__ryan_flicker.com.jpg?1423068667");
    background-color: black;
    padding-bottom: 10px;
    margin-top:-8px;
}
h1 {
    text-align: center;
    font-size: 40px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    margin: auto;
}
nav ul {
    margin: 0px;
    padding: 0px 0px 5px 30px;
}
nav li {
    display: inline;
    margin-right: 10px;
    color: white;
}
.row {
    padding-top: 60px;
    column-count: 2;
    column-gap: 5px;
}
@media(max-width: 460px;) {
    .row {
        padding-top: 40px;
    }
}
.panel-primary  {
    text-align: center;
    height: 850px;
    border-radius: 4px;
    border: 3px solid lightskyblue;
}
@media(max-width: 460px;) {
    .panel-primary {
        height: fit-content;
    }
}
.panel-secondary  {
    text-align: center;
    height: 850px;
    border-radius: 6px;
    border: 3px solid lightskyblue;
}
@media(max-width: 600px;) {
    .panel-secondary {
        height: fit-content;
    }
}
.panel-heading {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    background-color: turquoise;
    color: blue;
}
.panel-body {
    font-size: 20px;
}
.container {
    max-width: 100%;
    height: 60px;
    background-color: sandybrown;
    border: 3px solid royalblue;
    border-radius: 6px;
    text-align: center;
    padding-bottom: 25px;
}
#pic {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgreen;
    font-size: 40px;
}
.row1 {
    padding-top: 30px;
    column-count: 2;
    column-gap: 5px;
}
.panel1 {
    height: 400px;
    text-align: center;
    border: 2px solid lightcoral;
    border-radius: 6px;
}
@media(max-width: 460px;) {
    .panel1 {
        height: fit-content;
    }
}
.panel2 {
    height: 400px;
    text-align: center;
    border: 2px solid lightcoral;
    border-radius: 6px;
}
@media(max-width: 460px;) {
    .panel2 {
        height: fit-content;
    }
}
.panel-heading1 {
    height: 60px;
    background-color: lightgreen;
    font-size: 20px;
    font-family: monospace;
    color: midnightblue;
    padding-top: 20px;
}
.panel-body1 {
    margin-top: 5px;
}
.imgof {
    width: 200px;
    height: 150px;
}
.imgof:hover {
    transform: scale(2);
}

